@import '../../styles/colors';
@import '../../styles/funcs';
.register {
    width: 100%;
    height: 100vh;
    background-blend-mode: soft-light;
    background-image: url('../../assets/img/login_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(94, 142, 169, 0.78);
    &__head {
        width: 100%;
        height: prc(207, 900);
        background-color: rgba(0, 0, 0, 0.20);
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
}