@import '../../styles/colors';
.logo {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: 3px;
    color: $main-color;
    cursor: pointer;
}