@import '../../styles/colors';
@import '../../styles/funcs';
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    &__content {
        position: relative;
        margin-top: 43px;
        background-color: #fff;
        width: prc(1149, 1456);
        height: min-content;
        box-shadow: 0px 0px 114px rgba(0, 0, 0, 0.27);
        border-radius: 8px;
        padding: 35px 37px 42px 35px;
        display: flex;
        flex-direction: column;
        row-gap: 47px;
    }
    &__title {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $main-color;
    }
    &__steps {
        position: relative;
        width: 100%;
        margin-top: -34px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 50px;
        & .steps__line {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #DADADA;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        & .step {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #DADADA;
            background-color: #fff;
            z-index: 10;
        }

    }
    &__options {
        display: flex;
        flex-direction: column;
        row-gap: 19px;
    }
    & .option {
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 8px;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        &__info {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
        }
        &__title {
            max-width: 250px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $main-color;
        }
        &__subtitle {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 23px;
            color: rgba(44, 44, 44, 0.63);
        }
        &__price {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $main-color;
        }
    }
    &__lessons {
        display: none;
        flex-direction: column;
        row-gap: 35px;
        .lessons {
            &__categories {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 22px;
                &:not(div) {
                    align-items: center;
                }
            }
            &__category {
                flex-direction: column;
                row-gap: 20px;
                &:not(div) {
                    text-align: center;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: $main-color;
                }
            }
            &__available {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 25px 20px;
                background: #FFFFFF;
                border: 1px solid #D1D1D1;
                border-radius: 8px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 23px;
                color: $main-color;
            }
        }
    }
    &__timetable {
        display: none;
        flex-direction: column;
        .table {
            margin-top: 16px;
            &__days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                align-items: center;
            }  
            &__day {
                text-align: center;
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                text-transform: uppercase;
                color: rgba(36, 26, 54, 0.53);
                letter-spacing: 1.5px;
            }
            &__times {
                margin-top: 15px;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
            }
        }
    }
    &__slider-wrap {
        display: flex;
        align-items: center;
        & .slider {
            position: relative;
            width: 160px;
            height: 24px;
    
            &__content {
                position: absolute;
                min-width: 100%;
                max-width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
            }
    
            &__period {
                display: block;
                text-align: center;
                width: 100%;
                height: 100%;
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.22px;
                color: #828282;
            }
        }
    }
    &__arrow {
        cursor: pointer;
    }
    &__communication {
        display: none;
        justify-content: center;
        & .communication {
            &__wrap {
                display: grid;
                grid-template-columns: 413px 413px;
                grid-template-rows: min-content;
                row-gap: 40px;
                column-gap: 68px;
            }
            &__way {
                display: flex;
                justify-content: space-between;
                padding: 30px 40px 23px 30px;
                background: #FFFFFF;
                border: 1px solid #D1D1D1;
                border-radius: 8px;
            }
            &__info {
                display: flex;
                flex-direction: column;
                row-gap: 2px;
            }
            &__name {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: $main-color;
            }
            &__ID {
                display: inline-block;
                max-width: 159px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 23px;
                color: $main-color;
            }
            &__img-wrap {
                width: 60px;
                height: 60px;
            }
            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__descr {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__mentor {
        display: flex;
        align-items: center;
        column-gap: 14px;
        & .mentor__logo-wrap {
            width: 33px;
            height: 33px;
            border-radius: 50%;
        }
        & .mentor__logo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
        & .mentor__username {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: $main-color;
        }
    }
    &__next {
        padding: 10px 56px;
        border: none;
        border-radius: 6px;
        background-color: $main-purple;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
    }
    &__close {
        position: absolute;
        cursor: pointer;
        right: 30px;
        top: 20px;
    }
    &__previous {
        position: absolute;
        top: 20px;
        left: 34px;
        cursor: pointer;
    }
}