@import './styles/colors';
@import './styles/fonts';
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 248, 250);
  // display: flex;
  // column-gap: 16px;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1406px;
  padding: 0 10px;
}

.header__search_shown {
  display: block !important;
}
.navbar__section{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: $main-color;
}