@import './styles/colors';
@import './styles/fonts';
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 248, 250);
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.main {
  margin-bottom: 120px;
}

.container {
  margin: 0 auto;
  max-width: 1406px;
  padding: 0 10px;
}

.header__search_shown {
  display: block !important;
}
.navbar__section{
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: $main-color;
}

.table__time_taken {
  padding: 5px 0;
  text-align: center;
  border: 1px solid #828282;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: .22px;
  line-height: 16px;
  color: #828282;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $timetable-taken;
}